body{
    font-family: monospace;
    line-height: .9;
    margin: 4px;
}
.lbexLegisNum {
    font-size: 40pt;
    font-weight: bold;
    color: red;
}
.lbexHang {
    text-indent: -2em;
}
.lbexBody {
    font-size: 14pt;
}
.section{
    margin: 0px;
    font-weight: bold;
}
.billtitle{
    color: darkviolet;
    font-weight: bold;
}
.legislationtype {
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.enactingclause {
    margin-left: 2em;
    font-weight: bold;
    color: darkslategray;
    margin-top: 0;
    margin-bottom: 0;
}
.section {
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 120%;
}
.subsection{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0
}
.pt2{
    margin-left: .5em;
    margin-top: 0;
    margin-bottom: 0
}
.pt3{
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0
}
.pt4{
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0
}
.pt5{
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0
}
.pt6{
    margin-left: 2.5em;
    margin-top: 0;
    margin-bottom: 0
}
.pt7{
    margin-left: 3em;
    margin-top: 0;
    margin-bottom: 0
}
.pt8 {
    margin-left: 3.5em;
    margin-top: 0;
    margin-bottom: 0;
}
.pt9 {
    margin-left: 4em;
    margin-top: 0;
    margin-bottom: 0;
}
.s1{
    color: blue;
    font-weight: bold;
}
a:link,a:visited{
    color: blue;
}
.tableofcontent {
    margin-top: 2px;
    margin-bottom: 0px;
    line-height: .8;
    margin-bottom: 0px;
    margin-left: 1em;
    text-indent: -1em;
}
.s2{
    color: red;
    font-weight: bold;
    font-size: 110%;
}
.amended{
    background-color: #ffb98a;
    margin-top: 10px;
    margin-bottom: 10px;
}
.definition{
    color: darkred;
    font-weight: bold;
}